<div class="transactions-page">

  <div class="page-header">
    <h2>Transactions</h2>

    <button class="add-btn" (click)="openModal()">
      Add Transaction
    </button>
  </div>

  <app-search-bar (search)="onSearch($event)"></app-search-bar>

  <select (change)="onTypeChange($event)">

    <option value="">
        All
    </option>

    <option value="Income">
        Income
    </option>

    <option value="Expense">
        Expense
    </option>

    </select>

  <div *ngIf="isLoading">
    Loading transactions...
  </div>

  <div *ngIf="!isLoading">
    <app-transactions-table [transactions]="transactions" (delete)="deleteTransaction($event)"></app-transactions-table>
  </div>

</div>

<app-add-transaction-modal
  *ngIf="isModalOpen"
  (close)="closeModal()"
  (transactionAdded)="fetchTransactions()">
</app-add-transaction-modal>