<div class="sidebar">
  <div class="logo">
    Finance AI
  </div>

  <ul class="menu">
    <li class="menu-item" 
    routerLinkActive="active" 
    routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    Dashboard
    </li>

    <li class="menu-item" 
    routerLinkActive="active"
    routerLink="/transactions">
    <mat-icon>receipt_long</mat-icon>
    Transactions
    </li>

    <li class="menu-item" routerLinkActive="active" routerLink="/analytics">
    <mat-icon>bar_chart</mat-icon>
    Analytics
    </li>

    <li class="menu-item" routerLinkActive="active" routerLink="/settings">
    <mat-icon>settings</mat-icon>
    Settings
    </li>
  </ul>
</div>