.auth-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #160f45,
    #40128b,
    #9333ea
  );

  overflow: hidden;
  position: relative;
}

.bg-shapes span {
  position: absolute;
  border-radius: 50%;
  animation: float 10s infinite ease-in-out;
}

.bg-shapes span:nth-child(1) {
  width: 300px;
  height: 300px;

  top: -50px;
  right: -50px;

  background: rgba(255,255,255,.08);
}

.bg-shapes span:nth-child(2) {
  width: 180px;
  height: 180px;

  left: -50px;
  bottom: 100px;

  background: rgba(255,255,255,.08);
}

.bg-shapes span:nth-child(3) {
  width: 120px;
  height: 120px;

  right: 20%;
  bottom: 10%;

  background: rgba(255,255,255,.05);
}

.auth-card {

  width: 420px;

  padding: 40px;

  border-radius: 24px;

  background: rgba(255,255,255,.08);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,.15);

  box-shadow:
    0 20px 60px rgba(0,0,0,.35);

  color: white;

  animation: fadeUp .7s ease;
}

.auth-icon {

  width: 80px;
  height: 80px;

  margin: auto;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 34px;

  background: linear-gradient(
    135deg,
    #8b5cf6,
    #ec4899
  );

  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #d8d8d8;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
}

.input-group input {

  width: 100%;

  padding: 14px;

  border-radius: 12px;

  border: 1px solid rgba(255,255,255,.2);

  background: rgba(255,255,255,.08);

  color: white;

  outline: none;
}

.input-group input::placeholder {
  color: rgba(255,255,255,.5);
}

.btn-login {

  width: 100%;

  padding: 15px;

  border: none;

  border-radius: 12px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  color: white;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #ec4899
  );

  transition: .3s;
}

.btn-login:hover {

  transform: translateY(-2px);

  box-shadow:
    0 10px 25px rgba(236,72,153,.35);
}

.auth-footer {

  margin-top: 20px;
  text-align: center;
}

.auth-footer a {

  color: #f472b6;
  text-decoration: none;
  font-weight: 600;
}

@keyframes fadeUp {

  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {

  50% {
    transform: translateY(-20px);
  }
}